# DATA STRUCTURES

In [1]:
# Data structures are “containers” that organize and group data according to type. 
# The data structures differ based on mutability and order.

## Lets see LIST, TUPLES, SET, DICTIONARY AND STRING Data types in details

In [2]:
# FOR MORE INFORMATION https://www.enjoyalgorithms.com/blog/python-tuples-lists-for-ml-data-science/

### LIST

In [3]:
# LISTS ARE USED TO ENCLOSE THE COMMA-SEPERATED VALUES INSIDE THE 'SQUARE BRACKET' 
# lets create a list

lis1 = [2,4,"Ram",5.5,True,"Banana"]
lis1

[2, 4, 'Ram', 5.5, True, 'Banana']

In [4]:
# lets a create a empty list
# there are 2 methods
# method 1
L1 = []

# method 2
L2 = list()

type(L1)

list

### Lets check and learn all the methods of list

In [5]:
list2 = [3,4,6,8,10]

In [6]:
# Add new elements in list
# method - append is use to add single element in list

list2.append(12)
list2

[3, 4, 6, 8, 10, 12]

In [7]:
# method - extend is use to add multiple element in list

list2.extend(["Ram",5,True])
list2

[3, 4, 6, 8, 10, 12, 'Ram', 5, True]

In [8]:
# method - insert is use add element in perticular index

list2.insert(1, "Vaishnavi")
list2

[3, 'Vaishnavi', 4, 6, 8, 10, 12, 'Ram', 5, True]

In [9]:
# delete elements from list
# method - remove 

list2.remove('Ram')
list2

[3, 'Vaishnavi', 4, 6, 8, 10, 12, 5, True]

In [10]:
# method pop - it take index number to remove element from list

list2.pop(4)

8

In [11]:
# method - sort is use for arrange element in ascending or descending order
lis = [4,1,7,5,9,0]
lis.sort()
lis

[0, 1, 4, 5, 7, 9]

In [12]:
# method - reverse 
lis.reverse()
lis

[9, 7, 5, 4, 1, 0]

In [13]:
# method - count 
lis.count(4)

1

In [14]:
# method - clear is use to delete all elements from list
lis.clear()
lis

[]

In [15]:
# ACCESSING ELEMENTS AFTER FIXED INTERVALS
a = [0, 3, 5, 7, 9, 10, 11, 12, 15, 17, 19]
a[1::4] #here we got the output alternately, because we accessed elements from index 1 to 4

[3, 10, 17]

In [16]:
# REVERSING THE LIST
a = [0, 3, 5, 7, 9, 10, 11, 12, 15,17, 19]
a[::-2]

[19, 15, 11, 9, 5, 0]

In [17]:
# SLICING OF LISTS
a = [0, 3, 5, 7, 9, 10, 11, 12, 15, 17, 19]
a[2:5] # here we got items from 2 to 4

[5, 7, 9]

In [18]:
a[:7] # here we got items from 0 to 6

[0, 3, 5, 7, 9, 10, 11]

In [19]:
a[2:] # here we get items from 2 onwards

[5, 7, 9, 10, 11, 12, 15, 17, 19]

In [20]:
# ADDITION OR CONCATENATION OF LISTS
list1 = ['vaishnavi', 1.2, 7]
list2 = ['Machine', 'Learning', 0.1]
concatenated_list = list1+list2
concatenated_list

['vaishnavi', 1.2, 7, 'Machine', 'Learning', 0.1]

In [21]:
# lists are mutable
# we can modify the elements of lists. This is a major difference between tuples and lists
# will see this as we go further

In [22]:
# NESTING OF LISTS
# LISTS CAN CONTAIN ONE OR MORE LISTS INSIDE THEM
# THE TREE REPRESENTATION CAN BE USED TO ILLUSTRATE THE NESTING OF LIST
# FOR EXAMPLE
a = ['vaishnavi', [1, 2],[['data', 3], 5, 6], 'kites']
type(a)

list

In [23]:
a[2]

[['data', 3], 5, 6]

In [24]:
a[2][1]

5

In [25]:
a[0],[2]

('vaishnavi', [2])

In [26]:
a

['vaishnavi', [1, 2], [['data', 3], 5, 6], 'kites']

In [27]:
# LISTS ARE DYNAMIC BECAUSE THEY CAN ADD AND EXTEND MORE VALUES IN THEM, THEY CAN SHRINK DATA SAMPLES
# AS WE DONT NEED TO CREATE NEW LISTS FOR ALL THE CHANGES.

In [28]:
# HETEROGENOUS NESTING
# LIST CAN CONTAIN MULTIPLE TUPLES IN THEM AND VICE VERSA, FOR EXAMPLE
a = [1, (2, 3), 4, ('vaishnavi') ]
type(a)

list

# TUPLES

In [41]:
# TUPLES ARE IMMUTABLE OBJECTS
# AS WE DISCUSSED THAT EVERYTHING IN PYTHON IS AN OBJECT WHICH CONTAINS THREE BASIC PROPERTIES
# 1. IDENTITY - COMPUTER MEMORY LOCATION WHERE THE OBJECT IS STORED
# 2. TYPE - THIS IS THE DATA TYPE THAT GETS ATTACHED WHEN WE CREATE AN OBJECT LIKE STRING,FLOAT,
# INTEGER, ETC.
# 3. VALUE - THIS IS THE VALUE STORED IN THE OBJECT. FOR EXAMPLE a=1, the variable a has the value of 1

In [29]:
# TUPLES ARE ENCLOSED IN PARENTHESES ()
# IT CAN CONTAIN STRINGS, FLOAT, INTEGER
a = (1, 2.5, 'abc')
type(a)

tuple

In [30]:
a = 1, 2, 33
type(a)

tuple

In [31]:
b =(1, 3, 5, 7)
b[3]

7

In [32]:
len(b) # len function shows the number of objects present in the tuple

4

In [33]:
b[3]

7

In [34]:
# ACCESSING ELEMENTS AFTER FIXED INTERVALS
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
a[1::2]

(2, 4, 6, 8, 0)

In [35]:
a[0::2]

(1, 3, 5, 7, 9)

In [36]:
# REVERSING THE TUPLE
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
a[::-1]

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [37]:
# SLICING OF TUPLE
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
a[2::5]

(3, 8)

In [38]:
a[:5]

(1, 2, 3, 4, 5)

In [39]:
a[2:]

(3, 4, 5, 6, 7, 8, 9, 0)

In [44]:
# ADDITION OR CONCATENATION OF TUPLE
a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
concatenated_list = a + b
concatenated_list

(1, 2, 3, 4, 5, 6, 7, 8)

In [45]:
# AS WE SAY TUPLES ARE IMMUTABLE THAT MEANS WE CANNOT CHANGE THE VALUE OF ANY TUPLE, FOR EXAMPLE
a = (1, 2, 3, 4, 'vaishnavi', 4.6)
a[0] = 'DATA SCIENTIST'

TypeError: 'tuple' object does not support item assignment

In [46]:
# NOW THE QUESTION IS HOW TO CHANGE THE VALUE THEN?
# CREATE A NEW TUPLE
b = ('DATA SCIENTIST',)
A = a + b
A

(1, 2, 3, 4, 'vaishnavi', 4.6, 'DATA SCIENTIST')

In [47]:
# NESTING OF TUPLES
a = (('enjoy'), 1, 2,(('ML', 3),'data'), 4, 5)
a[2]

2

In [48]:
a[3]

(('ML', 3), 'data')

In [49]:
a[3][0]

('ML', 3)

In [50]:
# TUPLES ARE STATIC
# AS TUPLES ARE IMMUTABLE WE NEED TO CREATE ANOTHER TUPLE TO CHANGE, ADD MORE VALUES IN THEM

# SET

In [51]:
# SETS ARE DATA STRUCTURE USED TO STORE MULTIPLE DATA TYPES TOGETHER.UNLIKE LISTS, TUPLES AND SETS ARE
# UNORDERED, MEANING THEY DO NOT MAINTAIN THE POSITION OR INDEX OF THE ELEMENTS THEY CONTAIN.
# EVERY ELEMENT IN A SET IS UNIQUE AND DUPLICATE VALUES CANNOT BE STORED.
# SETS ARE DEFINED USING CURLY BRACKETS.

In [52]:
a = {1, 2, 3, 4}
type (a)

set

In [53]:
a

{1, 2, 3, 4}

In [54]:
a = {1, 2, 3, 4, (5, 6)}
a

{(5, 6), 1, 2, 3, 4}

In [55]:
# CONVERTIING LIST OR TUPLES INTO SETS
a = (1, 2, 3, 4)
set(a) # here we created tuple as set

{1, 2, 3, 4}

In [56]:
b = [1, 2, 3, 4,]
set(b) # here list got converted into set

{1, 2, 3, 4}

In [57]:
c = [1, 1, 1, 2]
set(c)

{1, 2}

In [58]:
a = (2, 4, 3 ,1)
set(a)

{1, 2, 3, 4}

In [59]:
b = [1, 7, 5, 9]
set(b)

{1, 5, 7, 9}

In [60]:
# THIS PROCESS OF CONVERTING ONE DATA TYPE TO ANOTHER IS KNOWN AS TYPE CASTING.

In [61]:
# NESTING OF SETS
a = {1, 2, 3, ('abc'), {9.8}}
a       #ASK

TypeError: unhashable type: 'set'

In [62]:
# HOW TO ACCESS ELEMENTS FROM A SET
a = {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}
'f' in a
# SETS DO NOT CONTAIN INFORMATION ABOUT POSITIONS, SO WE CANNOT ACCESS ELEMENTS USING THE INDEX VALUES
# BUT WE SURELY CAN CHECK WHETHER THE GIVEN ELEMENT IS PRESENT IN A GIVEN SET OR NOT.

True

In [63]:
# HOW TO ADD ELEMENTS IN A SET?
# 1. SINGLE ELEMENT 2. MULTIPLE ELEMENTS

In [64]:
# 1. SINGLE ELEMENT
a = {'a', 'b', 'c', 'd'}
a.add(4)

In [65]:
a # this is in case if we want to add single element

{4, 'a', 'b', 'c', 'd'}

In [66]:
# 2. MULTIPLE ELEMENTS
a = {4, 'a', 'b', 'c', 'd'}
b = {3, 2, 1}
a.update(b)
a
# WE CAN CREATE ANOTHER SET AND SIMPLY USE.update() FUNCTION

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [67]:
# REMOVING AN ELEMENT FROM A SET
a = {1, 2, 3, 4, 5, 6}
a.remove(6)
a # or a different method is dicard()

{1, 2, 3, 4, 5}

In [68]:
a = {1, 2, 3, 4, 5, 6}
a.discard(5)
a

{1, 2, 3, 4, 6}

In [69]:
# HOW TO FINND LENGTH OF A set
a = {1, 2, 3, 4, 5, 6}
len(a)

6

In [70]:
# MATHEMATICAL OPERATIONS OF SETS IN PYTHON
a = {1, 2, 3, 4, 5 ,6, 7, 8, 9, 0, 11}
b = {1, 3, 4, 5, 7}
# ASK

In [71]:
# UNION
a = {1, 2, 3, 4}
b = {6, 7, 8, 2}
a|b

{1, 2, 3, 4, 6, 7, 8}

In [72]:
a.union(b) # we can also use .union() operation

{1, 2, 3, 4, 6, 7, 8}

In [73]:
a = {1, 2, 3, 4}
b = {6, 7, 8, 2}
c = {'a', 'b', 'c', 2}
d = a.union(a, b, c)
d

{1, 2, 3, 4, 6, 7, 8, 'a', 'b', 'c'}

In [74]:
# INTERSECTION
a = {1, 2, 3, 4}
b = {6, 7, 8, 2}
a&b

{2}

In [75]:
a.intersection(b)

{2}

In [76]:
c = {'a', 'b'}
a.intersection(a, b)
set()
#  if there are no common elements in set it will give empty set() as an output

set()

In [77]:
# SET DIFFERENCE
a = {1, 2, 3, 4}
b = {6, 7, 8, 2}
a-b
# if we subtract a and b the output would be a new set with elements unique to set a.

{1, 3, 4}

In [78]:
# CHECKING IF ONE SET IS A SUBSET OF ANOTHER
a = {1, 2, 3, 4}
b = {1, 2}
b.issubset(a)

True

In [79]:
a = {1, 2, 3, 4}
b = {6, 7, 8, 2}
a.issubset(b)

False

In [80]:
# COPY METHOD IN SET
a = {1, 2, 3, 4}
b = a
b.remove(4)

In [81]:
b

{1, 2, 3}

In [82]:
a

{1, 2, 3}

In [83]:
a = {1, 2, 3, 4}
b = {6, 7, 8, 2}
b = a.copy()
b.remove(4)
# to copy the set we can use .copy() operation to make a copy of the original set and then perform the
# operations

In [84]:
b

{1, 2, 3}

In [85]:
a

{1, 2, 3, 4}

In [86]:
# MISCELLANEOUS
a = {1, 2, 3, 4, 5, 6}
min(a)

1

In [87]:
max(a)

6

In [88]:
sum(a)

21

In [89]:
a = {1, 2, 3,4}
b = {2, 3, 4, 5}
a.intersection_update(b)

In [90]:
a

{2, 3, 4}

In [91]:
# difference update method keep the values present in set 1 which is not present in set2
a = {1, 2, 3, 4, 5, 6}
a.difference_update(b)
a

{1, 6}

# DICTIONARIES

In [92]:
# A DICTIONARY IS A TYPE OF COLLECTION IN PYTHON THAT STORES MULTIPLE TYPES OF DATA TYPES PRESENT.
# IN  LIST WE HAVE INTEGER INDEXES AS ADDRESSES FOR THE VARIOUS ELEMENTS PRESENT IN LIST.
# IN DICTIONARIES INSTEAD OF INETEGER INDEXES WE HAVE STRINGS.
# A DICTIONARY CONTAINS THE ELEMENTS IN THE FORM OF "KEYS" AND "VALUES" PAIRS.
# WE USE CURLY BRACKETS AS WE USE THEM IN SETS BUT IN DICTIONARIES WE USE COLON. KEYS MUST BE 
# IMMUTABLE AND UNIQUE, WHICH MEANS WE CANNOT USE TWO KEYS WITH THE SAME NAME.VALUES CAN BE MUTABLE,
# IMMUTABLE OR EVEN DUPLICATES. WE CAN STORE LISTS, TUPLES, SETS AS THE VALUES IN DICTIONARY AND THE 
# PAIR OF KEYS AND VALUES WOULD BE SEPERATED BY A COMMA(,)....FOR EXAMPLE

In [93]:
a = {'key1': [1,2,3], 'key2': ('a','b','c'), 'key3':{7.2}}
type(a)

dict

In [94]:
b ={1:1.2, 'abc': 2928}
type(a)

dict

In [95]:
# merge two dictionaries 
# using upaate method
a.update(b)

In [96]:
# HOW TO ACCESS ELEMENTS FROM DICTIONARY?
b ={1:1.2, 'abc': 2928}
b['key5'] = (9699)

In [97]:
# Remove key-value from dictionaries
# use pop or popitem method

b.pop(1)
b

{'abc': 2928, 'key5': 9699}

In [98]:
# HOW TO CHANGE THE VALUE OF KEY IN DICTIONARY?
c = {1: 1.2, 'abc': 2928, 'key5': 9699}
c['key5'] = {'ball'}

In [99]:
c

{1: 1.2, 'abc': 2928, 'key5': {'ball'}}

In [100]:
# AS KEYS ARE IMMUTABLE, WE CANNOT CHANGE KEY IN A GIVEN DICTIONARY,FOR THAT WE NEED TO ADD A NEW KEY
# WITH THE NEW NAME CONTAINING THE SAME VALUES AS THE OLDER KEY. LATER WE CAN DELETE THE OLDER KEY.

In [101]:
# REMOVING A KEY OR ELEMENT FROM DICTIONARY
c = {1: 1.2, 'abc': 2928, 'key5': 9699}
del c['key5']
c
# we can simply use del operation to remove a key from dictionary

{1: 1.2, 'abc': 2928}

In [102]:
# GET ALL KEYS AND VALUES FROM DICTIONARY
a = {'key1': [1,2,3], 'key2': ('a','b','c'), 'key3':{7.2}}
a.keys()

dict_keys(['key1', 'key2', 'key3'])

In [103]:
a.values()

dict_values([[1, 2, 3], ('a', 'b', 'c'), {7.2}])

In [104]:
# 'fromkeys' method in python dictionary
# fromkeys method FORMS A NEW DICTIONARY WITH THE DEFAULT VALUES FOR ALL THE KEYS MENTIONED. IF WE DO
# NOT DEFINE THE VALUES ALL VALUES WILL BE ASSIGNED TO NONE

In [105]:
a = dict.fromkeys([7,11], 'data science')
a

{7: 'data science', 11: 'data science'}

In [106]:
a = dict.fromkeys([7,11])
a

{7: None, 11: None}

In [107]:
a = dict.fromkeys('data science')

In [108]:
a

{'d': None,
 'a': None,
 't': None,
 ' ': None,
 's': None,
 'c': None,
 'i': None,
 'e': None,
 'n': None}

In [109]:
# NESTING OF PYTHON DICTIONARIES
# WE CAN STORE A NEW DICTIONARY AS A VALUE INSIDE A KEY. FOR EXAMPLE

In [110]:
a = {'key1':[1,2,3], 'key2':{'data science'}, 'key3':{2.5: 'ML'},'key4':('abc'),'key5':(1, 'a'),'key6': 1}
type(a['key1'])

list

In [111]:
type(a['key2'])

set

In [112]:
type(a['key3'])

dict

In [113]:
type(a['key4'])

str

In [114]:
type(a['key5'])

tuple

In [115]:
type(a['key6'])

int

## String

In [116]:
# string is a sequence of characters enclosed within either single quotes (') or double quotes (").
# Strings are used to represent text data and are one of the fundamental data types in Python.

In [117]:
# You can create strings by enclosing text in either single or double quotes. For example:
single_quoted_string = 'This is a single-quoted string.'
double_quoted_string = "This is a double-quoted string."

single_quoted_string

'This is a single-quoted string.'

In [118]:
#Python provides a wide range of methods for working with strings. Some common string methods include:

# len(string): Returns the length of the string.
# string.upper(): Converts the string to uppercase.
# string.lower(): Converts the string to lowercase.
# string.strip(): Removes leading and trailing whitespace.
# string.split(): Splits the string into a list of substrings based on a delimiter.
# string.replace(old, new): Replaces occurrences of old with new.
# string.find(substring): Returns the index of the first occurrence of substring.

st = "hello world"
print(st.upper())
print(st.lower())
print(st.title())
print(st.split())
print(st.replace("hello","Good"))

HELLO WORLD
hello world
Hello World
['hello', 'world']
Good world

In [119]:
# String Concatenation:
# You can concatenate strings using the + operator:
str1 = "Hello, "
str2 = "world!"
result = str1 + str2
print(result)

Hello, world!

In [120]:
# String Indexing and Slicing:
# You can access individual characters in a string by their index, and you can also extract substrings using slicing.
# In Python, indexing is zero-based.

my_string = "Python"
first_char = my_string[0]  # Access the first character ('P')
substring = my_string[1:4]  # Get a substring ('yth')
 
print(first_char)
print(substring)

P
yth

In [121]:
# String Formatting:
# Python provides different ways to format strings, including the % operator, the .format()
# method, and f-strings (formatted string literals).

name = "Alice"
age = 30
message = "My name is %s, and I am %d years old." % (name, age)
message = "My name is {}, and I am {} years old.".format(name, age)
message = f"My name is {name}, and I am {age} years old."
message

'My name is Alice, and I am 30 years old.'